// Custom styles.
// #body{
//    background:url(https://images8.alphacoders.com/929/929202.jpg);
//    background-size:cover;
//    background-repeat:no-repeat;
//    background-attachment:fixed;
//   background-position:center;
//}
#sidebar {
            background: url(/images/sidebar.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            p,span,a {color: rgba(255, 255, 255, 1);}
}
